{% extends "components/base_list.html" %}
{% load static%}
{% block search %}
   <form action="" style="max-width: 450px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por nombre " name="q1" value="{{ request.GET.q1 }}">
            <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Escriba parte del nombre y click en buscar">
                Buscar
            </button>
        </div>
    </form>           
{% endblock search %}
{% block columns %}
    <tr class="text-primary"> 
        <th class="text-primary">Nombre del Producto</th>
        <th class="text-primary">Descripcion</th>
        <th class="text-primary">Precio</th>
        <th class="text-primary">Stock</th>
        <th class="text-primary">Categoria</th>
        <th class="text-danger">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for producto in productos %}
        <tr>
            <td>{{producto.name|upper}}</td>
            <td>{{producto.description}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.stock}}</td>
            <td>{{producto.categoria}}</td>
            <td class="text-center ">
                <a class="text-success" href="{% url 'gestion_venta:producto_update' producto.id %}" data-bs-toggle="tooltip" data-bs-title="Editar el producto"><i class="bi bi-pencil-fill"></i></a>
                <a class="text-danger" href="{% url 'gestion_venta:producto_delete' producto.id %}" data-bs-toggle="tooltip" data-bs-title="Eliminar el producto"><i class="bi bi-x-circle-fill"></i></a>
            </td>
        </tr>
        {% empty %}
       <tr>
            <td colspan="2" class="text-danger fw-bold h3 text-center">
                <div class="py-2 mt-2 border border-1 shadow rounded text-center">
                    ¡No se encontraron datos que cumplan los criterios de búsqueda...!
                </div>   
            </td>
        </tr>
    {% endfor%}  
{% endblock %}



