{% extends "components/base_form.html" %}
{% block controls %}
   <div class="row mb-3">
      <div class="col-md-6">
        {% include "components/field.html" with field=form.first_name %}
      </div>
      <div class="col-md-6">
        {% include "components/field.html" with field=form.last_name %}
      </div>
    </div>
    <div class="row mb-3">
       <div class="col-md-4">
         {% include "components/field.html" with field=form.sucursal %}
       </div>
       <div class="col-md-4">
         {% include "components/field.html" with field=form.username %}
       </div>
       <div class="col-md-4">
         {% include "components/field.html" with field=form.password %}
       </div>
     </div>
     <div class="row mb-3">
       <div class="col-md-6">
         {% include "components/field.html" with field=form.dni %}
       </div>
       <div class="col-md-6">
         {% include "components/field.html" with field=form.email %}
       </div>
     </div>
     <div class="row mb-3">
       <div class="col-md-6">
         {% include "components/field.html" with field=form.groups %}
       </div>
       <div class="col-md-6">
         {% include "components/field.html" with field=form.is_active %}
       </div>
     </div>
{% endblock %}
   
   



