{% extends "components/base.html" %}
{% load static%}
{% block content %}
 <section id="portfolio" class=" container portfolio section-bg" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title">
        <h2 style="margin-left:-7px ;">Listado de {{title}}</h2>
        
    </div>
    <div class="mt-2 d-flex justify-content-between flex-wrap">
         
         {% block search %}
            
         {% endblock search %}
            
         {% block buttons_list %}
           {% if permission_add %} 
            <div class="m-2" data-aos="fade-up" data-aos-delay="100">
               <a href="{{create_url}}" class="btn btn-nuevo" data-bs-toggle="tooltip" data-bs-title="Ingresar un nuevo registro">
                     Nuevo Registro
                  </a>
            </div>
            {% endif%}
         {% endblock buttons_list %}
     </div>

  <section class="table-responsive">
     <table class="table table-hover table-bordered table-fluid ">
      <thead class="text-center text-primary border-primary ">
        {% block columns %}

        {% endblock %}
      </thead>
      <tbody id="detalle" >
        {% block rows %}

        {% endblock %}
      </tbody>
     </table>
  </section>
  
   {% block pagination %}
      {% if is_paginated %}
       <div class="card-footer">
         <nav aria-label="Demo of disable class">
            <ul class="pagination justify-content-center flex-wrap">
               {% if page_obj.has_previous %}
                  <li class="page-item">
                     <a
                        href="?page={{ page_obj.previous_page_number }}{{ to_paginate_query }}"
                        class="page-link text-primary fw-bolder"
                     >
                        &laquo; Atrás
                     </a>
                  </li>

                  <li class="page-item">
                     <a href="?page=1{{ to_paginate_query }}" class="page-link text-primary fw-bolder">Inicio</a>
                  </li>
               {% else %}
                  <li class="page-item disabled" style="pointer-events:none; line-height: 1.5">
                     <a class="page-link bg-secondary bg-opacity-10">&laquo; Atrás</a>
                  </li>
                  <li class="page-item disabled" style="pointer-events:none">
                     <a href="#" class="page-link bg-secondary bg-opacity-10">Inicio</a>
                  </li>
               {% endif %}

               {% for index_paginate in paginator.page_range %}
                  {% if index_paginate <= page_obj.number|add:8 and index_paginate >= page_obj.number|add:-8 %}
                     {% if page_obj.number == index_paginate %}
                        <li class="page-item active" style="pointer-events:none">
                           <a href="#" class="page-link text-dark fw-bolder">{{ forloop.counter }}</a>
                        </li>
                     {% else %}
                        <li class="page-item">
                           <a href="?page={{ forloop.counter }}{{ to_paginate_query }}"
                              class="page-link text-dark-opacity-5">{{ forloop.counter }}</a>
                        </li>
                     {% endif %}
                  {% endif %}
               {% endfor %}

               {% if page_obj.has_next %}
                  <li class="page-item">
                     <a
                        href="?page={{ page_obj.paginator.num_pages }}{{ to_paginate_query }}"
                        class="page-link text-primary"
                     >
                        Final {{ paginator.page_range.stop|add:-1 }}
                     </a>
                  </li>

                  <li class="page-item">
                     <a href="?page={{ page_obj.next_page_number }}{{ to_paginate_query }}"
                        class="page-link text-primary">Siguiente &raquo;</a>
                  </li>
               {% else %}
                  <li class="page-item disabled text-primary" style="pointer-events:none">
                     <a href="#" class="page-link bg-secondary bg-opacity-10 text-primary">Final</a>
                  </li>
                  <li class="page-item disabled" style="pointer-events:none">
                     <a class="page-link bg-secondary bg-opacity-10 text-primary">Siguiente &raquo;</a>
                  </li>
               {% endif %}
            </ul>
         </nav>
       </div>
      {% endif %}
   {% endblock %}
 </section>
{% endblock content %}


